	<footer>
	  <div class='container'>
      <p>&copy; Yikun Xian, 2017</p>
	  </div>
    </footer>

    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
	MathJax.Hub.Config({
  	  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
	});
	</script>

  </body>
</html>