---
---

@import "{{ site.theme }}";

html {
  height: 100%;
}

body {
  min-height: 100%;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #ccc;
}

th{
    border:2px solid #ccc;
    padding: 2px;
}

td{
    border:2px solid #ccc;
    padding: 3px;
}

footer > .container {
    border-top: 1px solid #cccccc;
    padding: 10px 0;
    margin: 10px auto;
    text-align: center;
    color: #737373;
}
